<h2>Log in</h2>
<p>登録をすると、施設の新規登録やレビュー登録ができます</p>

<%= link_to "Log in", new_user_session_path ,class:"btn btn-primary" %>
<%= link_to "Sign up", new_user_registration_path ,class:"btn btn-success" %>