<h2>User info</h2>
<table class='table'>
  <tr>
    <th>Name</th>
    <th><%= user.name %></th>
  </tr>
</table>
<div class='row'>
  <%= link_to edit_user_path(current_user.id), class:"btn btn-outline-secondary btn-block" do %>
    ユーザー名変更
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

