<main class="img1 pb-5 pt-5">
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class="row">
      <h1 class="px-3 mx-auto text-white">Welcome to
        <strong>Sound Output</strong>!
      </h1>
    </div>
    <div class="row">
      <i class="fas fa-music fa-5x mx-auto mt-5 icon-color"></i></i>
    </div>
    <div class="row">
      <p class="mx-auto mt-5 text-white bg-dark p-2 rounded">Sound Outputは、音出し場所に悩む学生・社会人の手助けをします。<br>
      フィードバックは<%= link_to "こちら", 'https://forms.gle/T291FdNF3LLQDhkF6' %></p>
    </div>

    <%= link_to facilities_path ,class:"btn btn-primary btn-lg btn-block" do %>
      Let's go
    <% end %>
  </div>
</main>
