// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img1 {
  background-image : url('band.jpg');
  background-size : cover;
}

.icon-color {
  color :white;
}