<footer class="bg-dark  text-center p-3">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-white ">
        <p>(c)2023 Senya Sano <br>
          フィードバックは<%= link_to "こちら", 'https://forms.gle/T291FdNF3LLQDhkF6' %></p>
      </div>
    </div>
  </div>
</footer>